In [1]:
import pandas as pd
from csv import writer
import numpy as np
import pandas as pd
from lib import lib_soup_alternativaTeatral as alternativaTeatral

Voy a querer obtener los Comentarios del Público en Alternativa Teatral.

In [5]:
alternativaTeatral.opiniones_getOpiniones(8061)

[('https://www.alternativateatral.com//obra77358-imposible-violar-a-esta-mujer-llena-de-vicios',
  '3'),
 ('https://www.alternativateatral.com//obra73014-experiencia-carrusel', '4'),
 ('https://www.alternativateatral.com//obra76853-otro-dia-de-suerte--apostando-fuerte',
  '5'),
 ('https://www.alternativateatral.com//obra76853-otro-dia-de-suerte--apostando-fuerte',
  '4'),
 ('https://www.alternativateatral.com//obra77474-cuando-despertemos-muertos',
  '0'),
 ('https://www.alternativateatral.com//obra73577-el-dia-en-que-me-voy-a-morir',
  '5'),
 ('https://www.alternativateatral.com//obra73014-experiencia-carrusel', '4')]

In [2]:
df_x4 = pd.DataFrame(columns = ["urlAT","categoríaAT","página"])
df_x4

Empty DataFrame
Columns: [urlAT, categoríaAT, página]
Index: []

In [4]:
df_x4 = pd.read_csv("data//df_x4.csv")
df_x4

                                                   urlAT  categoríaAT  página
0      https://www.alternativateatral.com//obra82180-...            4       1
1      https://www.alternativateatral.com//obra82177-...            5       1
2      https://www.alternativateatral.com//obra82180-...            3       1
3      https://www.alternativateatral.com//obra67150-...            4       1
4      https://www.alternativateatral.com//obra73854-...            0       1
...                                                  ...          ...     ...
30487  https://www.alternativateatral.com//obra49722-...            5    4578
30488  https://www.alternativateatral.com//obra79234-...            5    4578
30489  https://www.alternativateatral.com//obra78980-...            4    4578
30490  https://www.alternativateatral.com//obra32723-...            5    4578
30491  https://www.alternativateatral.com//obra69229-...            4    4578

[30492 rows x 3 columns]

In [3]:
j = 28086
for i in range(4221,42272):
    try:
        L = alternativaTeatral.opiniones_getOpiniones(i)
        for l in L:
            df_x4.loc[j] = [l[0],l[1],i]
            j += 1
        df_x4.to_csv("data/df_x4.csv", encoding='utf-8', index=False)
    except: print(i)

4266
4322
4329
4339
4360
4372
4381
4405
4420
4436
4451
4484
4504
4571