In [1]:
import pandas as pd
from csv import writer
import numpy as np
import pandas as pd
from lib import lib_soup_alternativaTeatral as alternativaTeatral

Voy a querer obtener los Comentarios del Público en Alternativa Teatral.

In [2]:
df_x4 = pd.read_csv("data//df_x4.csv")
df_x4

                                                   urlAT  categoríaAT  página
0      https://www.alternativateatral.com//obra82180-...            4       1
1      https://www.alternativateatral.com//obra82177-...            5       1
2      https://www.alternativateatral.com//obra82180-...            3       1
3      https://www.alternativateatral.com//obra67150-...            4       1
4      https://www.alternativateatral.com//obra73854-...            0       1
...                                                  ...          ...     ...
47245  https://www.alternativateatral.com//obra33486-...            4    7044
47246  https://www.alternativateatral.com//obra74405-...            4    7044
47247  https://www.alternativateatral.com//obra45943-...            4    7044
47248  https://www.alternativateatral.com//obra54412-...            4    7044
47249  https://www.alternativateatral.com//obra74890-...            4    7044

[47250 rows x 3 columns]

In [3]:
j = 47252
for i in range(7045,42272):
    try:
        L = alternativaTeatral.opiniones_getOpiniones(i)
        for l in L:
            df_x4.loc[j] = [l[0],l[1],i]
            j += 1
        df_x4.to_csv("data/df_x4.csv", encoding='utf-8', index=False)
    except: print(i)

7152
7223
7231
7300
7305
7340
7341
7393
7402
7416
7429
7434
7457
7533
7617
7622
7664
7684
7735
7824
7827
7907
7924
7936
7954
7976
7989
7997
8007
8075
8084
8085
8102
8103
8118
8146
8192
8219
8229
8233
8237
8244
8262

In [ ]:
alternativaTeatral.opiniones_getOpiniones(8061)